<aside class="more-articles">

  {% if page.previous.url %}
    <a class="article-link" href="{{ page.previous.url }}" style="background-image: url({{ page.previous.background }});">
      <div class="previous-article">
        <h3>{{ page.previous.title }}</h3>
      </div>
    </a>
  {% endif %}

  {% if page.next.url %}
    <a class="article-link" href="{{ page.next.url }}" style="background-image: url({{ page.next.background }});">
      <div class="next-article">
        <h3>{{ page.next.title }}</h3>
      </div>
    </a>
  {% endif %}


</div>
