html
  width: 100vw
  height: 100vh

  body
    width: 100%
    height: 100%

    header
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      height: 70vh
      background: teal
      background-image: url(/img/60H.jpg)
      background-position: bottom
      background-size: cover
      margin-bottom: 5rem
      text-align: center

      h1, h4, a
        color: $title-color
        max-width: 70%
      a:hover
        color: darken($title-color, 25%)
    .posts
      margin: auto
      max-width: 710px
      width: 80%
      padding-bottom: calc(5rem + 250px)

      .post
        border-bottom: $grey-color 1px solid

        p
          a
            background-color: $grey-color-light
            &:hover
              background-color: $grey-color

      .post-content
        a
          background-color: $grey-color-light
          &:hover
            background-color: $grey-color
            transition: all 0.3s ease-in-out

      .post, .post-content
        blockquote
          border-left: lighten($text-color, 20%) 0.4rem solid
          margin: 0 0 0 -2rem
          padding: 0 0 0 1.75rem
          p
            line-height: 1.5
            font-style: italic
            font-weight: 200
        hr
          width: 60%

.read-more
  float: right
  color: lighten($text-color, 20%)
  font-weight: 600
