---
layout: default
---

  <header style="background-image: url({{ page.background }});">
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <h4><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} | <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h4>
  </header>

<article class="posts" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include share.html %}
  {% include more-articles.html %}
  {% include comments.html %}

</article>
